html,
body {
  font-family: "Roboto", sans-serif;
  /* background: #181b1c; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

:root {
  /* --background-color: rgba(128, 128, 128, 0.219); */
  /* --button-color: rgba(10, 71, 71, 0.286); */
}
nav {
  justify-content: space-between;
  background-color: #1d3131a5;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 20;
  height: 30px;
}
nav img {
  width: 100px;
  height: 10px;
}
ul {
  display: flex;
  flex-direction: row;
  column-gap: 70px;
  list-style-type: none;
  width: fit-content;
  justify-content: space-around;
  font-size: 18px;
  margin-right: 5%;
}

li {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
/* main container */
/* Don't display flex to apply height 100% to sections */
#main-container {
  /* height: 100%; */
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  will-change: transform;
  text-align: center;
}
/* ---------------------------------------------- */
/* Hero */
/* ---------------------------------------------- */

.hero {
  background-color: tomato;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  text-align: center;
  text-align: center;
  overflow: auto;
}
/* .hero-area {
  background-color: green;
  display: flex;
  flex-direction: column;
} */

/* .frame {
background-color: blue;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-content: center;
text-align: center;
align-content: center;
height: 100%;
row-gap: 30%;
} */

.hero-text {
  background-color: olive;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1em;
}

#name {
  /* background-color: orange; */
  text-align: center;
  font-size: 4em;
  font-weight: 200;
}
.hero-text p {
  /* background-color: brown; */
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  margin-top: 0;
}
#location {
  /* background-color: orangered; */
  text-align: center;
  font-size: 2em;
  font-weight: 200;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 40px;
  background-color: coral;
  font-size: 30px;
  font-weight: 300;
  width: 13rem;
  height: 3.2rem;
  align-self: center;
  margin-bottom: 6em;
}
.button:hover {
  background-color: #ef744b;
}
.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.socials {
  background-color: chocolate;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2em;
  position: relative;
}
/* ---------------------------------------------- */
/*  Projects   */
/* ---------------------------------------------- */

.sub-section-alternative {
  /* background-color: tomato; */
  /* background: #232729; */
  height: calc(100% - 14em);
  text-align: center;
  padding: 7em;
  padding-top: 7em;
}

.sub-section-alternative h2 {
  background-color: crimson;
}

.projects-container {
  background-color: darkgreen;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
  column-gap: 2em;
  row-gap: 2em;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* set margin auto to center div inside section */
  margin: auto;
  border-radius: 1em;
  margin-top: 5em;
}

@media (max-width: 1400px) {
  .projects-container {
    flex-wrap: wrap;
  }
  .sub-section-alternative {
    height: fit-content;
  }
}

.project-card {
  background-color: dodgerblue;
  /* background: #181b1c; */
  border-radius: 1em;
  padding: 1em;
  height: 20em;
  min-width: 13em;
  margin: 0.5em;
}

.col-25 {
  /* width: 25%; */
}

/* ---------------------------------------------- */
/* About me */
/* ---------------------------------------------- */

.sub-section {
  background-color: tomato;
  /* background: #181b1c; */
  height: calc(100% - 4em);
  /* height: 100%; */
  text-align: center;
  display: block;
  padding-top: 4em;
}

.sub-section h2 {
  background-color: green;
  /* display: inline-block; */
  /* margin-top: 4em; */
  font-size: 2.5em;
  font-weight: 300;
}

.sub-section h4 {
  background-color: darkred;
  margin-top: -1.5em;
  /* display: inline-block; */
  font-size: 1.1em;
  font-weight: 300;
  /* margin: 0; */
}

.sub-section h3 {
  background-color: lightsteelblue;
  margin-top: -0.5em;
  font-size: 2em;
  font-weight: 300;
  /* margin: 0; */
}

.buttons-container {
  background-color: darkorchid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  height: auto;
  margin-bottom: 1em;
}
.about-button {
  background-color: blue;
  width: 10em;
  height: 2em;
  border: none;
  outline: none;
  border-radius: 0.5em;
}

/* containes skills and education */
.container {
  /* margin-top: 5em; */
  background-color: maroon;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  column-gap: 3em;
}

/* Skills */
#skills-wrapper {
  background-color: gold;
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 0.5em;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: stretch;
  border-radius: 1em;
}

.item-header {
  background-color: darkorange;
  /* background: #181b1c; */
  grid-column-start: 1;
  grid-column-end: -1;
  /* justify-self: start; */
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 10em;
  font-size: 18px;
  border-radius: 0.2em;
}
.item {
  background-color: red;
  /* background: #181b1c; */
  height: 40px;
  width: 120px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border-radius: 0.6em;
  font-size: 16px;
  margin: 0.5em;
  /* align-self: center; */
}
.item i {
  font-size: 1.2em;
}
/* Education */
#education-wrapper {
  background-color: pink;
  width: calc(45% - 3em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1em;
  border-radius: 1em;
  padding-left: 3em;
  /* padding: 3em; */
}
.education-header {
  background-color: teal;
  /* background: #181b1c; */
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 10em;
  font-size: 18px;
  border-radius: 0.2em;
}
.education-header-1 {
  /* margin-top: -3em; */
}
.education-header-2 {
  margin-top: 3.2em;
}
.education-item {
  background-color: yellowgreen;
  /* background: #181b1c; */
  font-size: 16px;
  /* width: 70%; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  column-gap: 2em;
  padding: 0.5em;
  border-radius: 0.6em;
}
.education-item i {
  font-size: 2em;
}
/* ---------------------------------------------- */
/* Footer */
/* ---------------------------------------------- */

footer {
  background-color: slateblue;
  height: 100%;
  width: 100%;
}
