html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: rgb(2, 2, 14);
}

:root {
}
/* --------------------------------------------------------------- */

/* nav {
  justify-content: space-between;
  background-color: rgb(137, 132, 132);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 20;
  height: 3em;
  display: flex;
}
nav img {
  width: 100px;
  height: 10px;
}
ul {
  background-color: olive;
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  list-style-type: none;
  width: fit-content;
  margin-right: 5em;
}

li {
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 300;
} */
/* --------------------------------------------------------------- */

/* nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #171818a5;
  position: -webkit-sticky;
}

ul {
  display: flex;
  flex-direction: row;
  column-gap: 70px;
  list-style-type: none;
  width: fit-content;
  justify-content: space-around;
  font-size: 25px;
  margin-right: 5%;
}

li {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
} */

/* --------------------------------------------------------------- */
/* main container */
/* Don't display flex to apply height 100% to sections */
#main-container {
  background-color: rgb(2, 2, 14);
  color: #ffff;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  will-change: transform;
  text-align: center;
}
/* ---------------------------------------------- */
/* Hero */
/* ---------------------------------------------- */

.hero {
  /* background-color: tomato; */
  height: 100%;
  letter-spacing: 5px;
}
.hero-area,
.projects-area,
.about-me-area,
.contact-me-area {
  /* background-color: green; */
  width: 100%;
  margin: auto;
  /* padding: 0px 10px; */
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#name,
.hero-text p,
#location,
.button,
.socials {
  /* background-color: orange; */
  width: 100%;
  margin: auto;
}
#name {
  font-size: 2.5em;
  font-weight: 400;
  margin-top: 4em;
}
.hero-area p {
  /* background-color: brown; */
  font-size: 2em;
  font-weight: 300;
}
#location {
  /* background-color: orangered; */
  font-size: 1.5em;
  font-weight: 200;
}
#location span {
  border-bottom: 5px solid black;
}
#location span + span {
  border-bottom: 1px solid yellow;
}
#location span + span + span {
  border-bottom: 1px solid red;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 40px;
  background-color: coral;
  font-size: 1.5em;
  font-weight: 300;
  width: 15rem;
  height: 3rem;
  margin-top: 2em;
}
.button:hover {
  background-color: #ef744b;
  box-shadow: 0px 0px 16px -1px rgba(236, 240, 14, 0.67);
  -webkit-box-shadow: 0px 0px 16px -1px rgba(236, 240, 14, 0.67);
  -moz-box-shadow: 0px 0px 16px -1px rgba(236, 240, 14, 0.67);
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.socials {
  /* background-color: chocolate; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2em;
  margin-top: 7em;
}

/* ---------------------------------------------- */
/*  Projects   */
/* ---------------------------------------------- */

.sub-section-alternative {
  /* background-color: tomato; */
  /* background-color: rgba(5, 5, 28, 0.174); */
  background-color: rgba(6, 6, 34, 0.174);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.projects-area {
  height: 100%;
}
.sub-section-alternative h2 {
  /* background-color: crimson; */
  margin-top: 2em;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 5px;
}

.projects-container {
  /* background-color: darkgreen; */
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80em;
  column-gap: 2em;
  row-gap: 2em;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  border-radius: 1em;
  margin-top: 7em;
}

.project-card {
  /* background-color: dodgerblue; */
  background: #181b1c;
  border-radius: 1em;
  padding: 1em;
  height: 20em;
  width: 20em;
  margin: 0.5em;
}

.project-card:hover {
  box-shadow: 0px 0px 16px -1px rgba(236, 240, 14, 0.67);
  -webkit-box-shadow: 0px 0px 16px -1px rgba(236, 240, 14, 0.67);
  -moz-box-shadow: 0px 0px 16px -1px rgba(236, 240, 14, 0.67);
}
.col-25 {
  /* width: 25%; */
}

/* ---------------------------------------------- */
/* About me */
/* ---------------------------------------------- */

.sub-section {
  height: 100%;
}

.sub-section h2 {
  /* background-color: darkkhaki; */
  margin-top: 3em;
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 5px;
}

.sub-section h4 {
  /* background-color: darkred; */
  color: rgba(255, 127, 80, 0.499);
  margin-top: -1.5em;
  font-size: 1.1em;
  font-weight: 300;
}

/* containes skills and education */
.container {
  /* background-color: maroon; */
  margin-top: 2em;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  column-gap: 3em;
  width: auto;
  margin: auto;
  padding-right: 1em;
}

/* Skills */
#skills-wrapper {
  /* background-color: gold; */
  /* width: 50%; */
  width: auto;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 1em;
  grid-column-gap: 0.5em;
  justify-content: center;
  align-content: center;
  justify-items: center;
  /* align-items: stretch; */
  border-radius: 1em;
  margin: auto;
  padding-top: 0.8em;
}

.item-header {
  /* background-color: darkorange; */
  /* color: rgba(246, 255, 80, 0.355); */
  color: rgba(255, 255, 255, 0.751);
  background-color: rgba(10, 28, 223, 0.166);
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 10em;
  font-size: 18px;
  font-weight: 300;
  border-radius: 0.2em;

  box-shadow: 0px 0px 16px 0px rgba(236, 240, 14, 0.43);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(236, 240, 14, 0.43);
  -moz-box-shadow: 0px 0px 16px 0px rgba(236, 240, 14, 0.43);
}
.item {
  /* background-color: red; */
  background: #181b1c;
  height: 40px;
  width: 120px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border-radius: 0.6em;
  font-size: 16px;
  font-weight: 200;
  margin: 0.5em;
}
.item i {
  font-size: 2em;
}
/* Education */
#education-wrapper {
  /* background-color: pink; */
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.7em;
  border-radius: 1em;
  padding-left: 3em;
  /* padding: 3em; */
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  margin: auto;
}
.education-header {
  /* background-color: teal; */
  /* color: rgba(246, 255, 80, 0.355); */
  color: rgba(255, 255, 255, 0.751);
  background-color: rgba(10, 28, 223, 0.166);
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 10em;
  font-size: 18px;
  font-weight: 300;
  border-radius: 0.2em;

  box-shadow: 0px 0px 16px 0px rgba(236, 240, 14, 0.43);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(236, 240, 14, 0.43);
  -moz-box-shadow: 0px 0px 16px 0px rgba(236, 240, 14, 0.43);
}
.education-header-1 {
  /* margin-top: 1em; */
}
.education-header-2 {
  /* margin-top: 3.2em; */
}
.education-item {
  /* background-color: yellowgreen; */
  background: #181b1c;
  font-size: 16px;
  font-weight: 200;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  column-gap: 2em;
  padding: 0.5em;
  border-radius: 0.6em;
}
.education-item i {
  font-size: 2em;
}
/*  */

a {
  text-decoration: none;
  color: white;
}

/* .hamburger {
  display: none;
} */

/* .hamburger:focus {
  outline: 0;
} */

/* ---------------------------------------------- */
/* Footer */
/* ---------------------------------------------- */

footer {
  /* background-color: slateblue; */
  background-color: rgba(6, 6, 34, 0.174);
  height: 100%;
  width: 100%;
  letter-spacing: 5px;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Media queries */
/* ---------------------------------------------- */
/* ---------------------------------------------- */

@media (max-width: 1300px) {
  .hero-area {
    /* background-color: lime; */
    /* max-width: 900px; */
  }
  .projects-container {
    flex-wrap: wrap;
    width: 70em;
  }
  .sub-section-alternative {
    height: fit-content;
  }
}
/* ---------------------------------------------- */

@media (max-width: 1100px) {
  .container {
    /* background-color: lemonchiffon; */
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 5em;
    padding-bottom: 2em;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
  .sub-section {
    height: fit-content;
  }
  #education-wrapper {
    /* background-color: tomato; */
    padding-right: 3em;
  }
}
/* ---------------------------------------------- */
@media (max-width: 780px) {
  .projects-container {
    /* background-color: blue; */
    flex-wrap: wrap;
    flex-direction: column;
    width: 70em;
  }
  .sub-section-alternative {
    height: fit-content;
  }
}

/* ---------------------------------------------- */
@media (max-width: 600px) {
  #skills-wrapper {
    grid-template-columns: auto auto;
    width: 100%;
    margin: auto;
    font-weight: 200;
  }
  .item-header {
    /* grid-area: item-header; */
  }
  .item {
    /* grid-area: item; */
  }
  #education-wrapper {
    /* background-color: yellowgreen; */
    flex-wrap: wrap;
    row-gap: 1.3em;
    border-radius: 1em;
    padding-left: 4em;
    font-weight: 200;
    width: 100%;
  }

  .education-item {
    margin: 0.5em;
    width: 100%;
    /* font-size: 0.9em; */
    justify-content: center;
  }
  .education-item i {
    display: none;
  }
  .education-header {
    margin: auto;
    /* font-size: 1em; */
  }
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */

/* @media (max-width: 500px) {
  nav {
    height: 1em;
  }
} */

/* ---------------------------------------------- */

@media (max-width: 500px) {
  .hero-area {
    /* background-color: lightblue; */
    max-width: 300px;
  }
  #name {
    margin-top: 3em;
  }
  .hero-area p {
    margin-top: -1em;
  }
  #location {
    margin-top: -1em;
  }
  .button {
    margin-top: 3em;
  }
  .socials {
    margin-top: 1em;
  }
}

/* ---------------------------------------------- */

@media (max-width: 500px) {
  .projects-container {
    flex-wrap: wrap;
  }
  .sub-section-alternative {
    height: fit-content;
  }
}

/* ---------------------------------------------- */

@media (max-width: 860px) and (orientation: landscape) {
  footer {
    /* background-color: red; */
  }
  .hero-area {
  }
  #name {
    margin-top: 1.5em;
  }
  .hero-area p {
    margin-top: -0.5em;
  }
  #location {
    margin-top: -1em;
  }
  .button {
    margin-top: 1em;
  }
  .socials {
    margin-top: 1em;
  }
}
/*  */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

/*  */
/*  */
/* Media queries */

/* @media all and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
    cursor: pointer;
  }
  ul {
    display: none;
    margin-left: 40%;
    width: fit-content;
    text-align: center;
    z-index: 9999;
  }

  ul.show {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    text-align: center;
    margin-top: 0px;
    position: sticky;
    top: 0;
  }

  nav {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: #171818a5;
  }

  .logo {
    display: none;
  }
} */

/*  */
/* ============================================================ */
/* navbar styling */
.navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  /* border-bottom: 2px solid rgb(223, 251, 219); */
  /*  */
  background-color: coral;
  width: 100%;
  position: fixed;
  z-index: 999999;
}

/* logo style  */
.logo img {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
}

.hamburger-menu {
  padding-right: 1.5rem;
  cursor: pointer;
}

.hamburger-menu .line {
  display: block;
  width: 2.5rem;
  height: 2px;
  margin-bottom: 10px;
  background-color: black;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 70%;
  height: 70%;
  top: 6rem;
  left: 8em;
  background-color: coral;
  font-weight: 600;
  padding-top: 5em;
  z-index: 999999;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 5em;
  font-size: 1.7em;
  letter-spacing: 5px;
  border-radius: 5px;
}
.nav-menu a {
  display: block;
  text-align: center;
  padding: 5px 0;
}
.nav-menu a:hover {
  background-color: rgb(223, 251, 219);
}

.hide {
  display: none;
}

/* for Desktop view  */
@media (min-width: 1000px) {
  .navbar {
  }
  .nav-menu {
    display: block;
    position: relative;
    width: auto;
    margin-right: 300px;
    /* background-color: blue; */
    padding-top: 0;
    margin-bottom: 200px;
    font-size: 1.5em;
  }
  .nav-menu a {
    display: inline-block;
    padding: 15px 20px;
  }
  .nav-menu a:hover {
    background-color: rgb(200, 165, 50);
    border-radius: 5px;
  }
  .hamburger-menu {
    display: none;
  }
}

/* --------------------------------------------------------------- */
/* for Mobile view  */

/* @media (min-width: 400px) {
  .navbar {
    justify-content: space-around;
  }
  .nav-menu {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
    background-color: green;
  }
  .nav-menu a {
    display: inline-block;
    padding: 15px 20px;
  }
  .nav-menu a:hover {
    background-color: rgb(223, 251, 219);
    border-radius: 5px;
  }
  .hamburger-menu {
    display: none;
  }
} */

/* --------------------------------------------------------------- */

/* @media all and (max-width: 1000px) {
  nav {
    display: block;
    background-color: red;
  }

  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    background-color: tomato;
    color: white;
    color: red;
    font-size: 3.3em;
    align-self: flex-end;
    cursor: pointer;
  }
  ul {
    display: none;
    margin-bottom: 0px;
    margin-right: 5em;
    width: fit-content;
    text-align: center;
  }

  ul.show {
    display: block;
    flex-direction: row;
    row-gap: 10px;
    text-align: center;
    position: sticky;
    margin-left: 5em;
    top: 0;
  }

  nav {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: #171818a5;
  }

  .logo {
    display: none;
  }

  .headshot-container {
    display: none;
  }

  .fa-bars {
  }
} */
