html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: rgba(2, 2, 14, 0.888);
}

h1 {
  font-size: 3.5rem;
  font-weight: lighter;
  letter-spacing: 8px;
}
h2 {
  /* background-color: brown; */
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 5px;
}
:root {
}
/* --------------------------------------------------------------- */
nav {
  justify-content: space-between;
  background-color: rgba(13, 10, 95, 0.445);
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 1rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
  height: 3rem;
  display: flex;
  font-size: 25px;
  font-weight: 300;
}
nav img {
  height: 3rem;
  width: 3rem;
  position: relative;
}

.nav-items {
  /* background-color: tomato; */
  display: inline-flex;
  gap: 5rem;
  margin-right: 4rem;
  position: relative;
  letter-spacing: 3px;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* main container */
/* Don't display flex to apply height 100% to sections */
#main-container {
  /* background-color: rgb(2, 2, 14); */
  color: #ffff;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  will-change: transform;
  text-align: center;
}
/* ---------------------------------------------- */
/* Hero */
/* ---------------------------------------------- */

.hero {
  /* background-color: tomato; */
  height: 100%;
  letter-spacing: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .hero-area, */
.projects-area,
.contact-me-area {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.hero-area {
  /* background-color: grey; */
  /* height: fit-content; */

  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 5rem; */
  /* margin-top: 15rem; */
}
#name,
#location,
.button,
.socials {
  /* background-color: orange; */
  width: 100%;
  margin: auto;
}
#name {
  margin-bottom: 5rem;
}

.hero-area h2 {
  /* background-color: green; */
}

#location {
  /* background-color: orangered; */
  font-size: 1.5em;
  font-weight: 200;
  /* margin-top: 1rem; */
}
#location span {
  border-bottom: 5px solid black;
}
#location span + span {
  border-bottom: 1px solid yellow;
}
#location span + span + span {
  border-bottom: 1px solid red;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 40px;
  background-color: coral;
  font-size: 1.5rem;
  font-weight: 300;
  width: 15rem;
  height: 3rem;
  margin-top: 3rem;
}
.button:hover {
  background-color: #ef744b;
  box-shadow: 0px 0px 16px -1px rgba(236, 240, 14, 0.67);
  -webkit-box-shadow: 0px 0px 16px -1px rgba(236, 240, 14, 0.67);
  -moz-box-shadow: 0px 0px 16px -1px rgba(236, 240, 14, 0.67);
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.socials {
  /* background-color: chocolate; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;
  margin-top: 3rem;
}

.socials::before {
  content: "S C R O L L";
  font-size: 1rem;
  display: block;
  position: absolute;
  margin-top: 7rem;
  /* left: 45rem; */
  /* top: 70rem; */
  color: rgb(228, 228, 215);
}

.socials::after {
  content: "";
  position: absolute;
  background-color: rgb(204, 236, 59);
  margin-top: 11rem;
  width: 2px;
  height: 5%;
  overflow: visible;
  /* z-index: -1; */
  /* left: 42%; */
  /* top: 133%; */
}

/* ---------------------------------------------- */
/*  Projects   */
/* ---------------------------------------------- */

.sub-section-alternative {
  /* background-color: tomato; */
  /* background-color: rgba(5, 5, 28, 0.174); */
  background-color: rgba(26, 7, 54, 0.122);
  text-align: center;
  /* height: 100%; */
}

.projects-area {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

/* title */
.sub-section-alternative h2 {
  /* background-color: crimson; */
  margin-top: 15rem;
}

.projects-container {
  background-color: darkgreen;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80rem;
  gap: 12rem;
  border-radius: 1rem;
  margin-top: 7rem;
  padding: 1rem;
  margin: auto;
}

/* my animation */
.fade-in-right {
  -webkit-animation: fadeInRight 1.2s both;
  -moz-animation: fadeInRight 1.2s both;
  -o-animation: fadeInRight 1.2s both;
  animation: fadeInRight 1.2s both;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    filter: blur(2px);
    -webkit-transform: translateX(-50rem);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    filter: blur(2px);
    -moz-transform: translateX(-50rem);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    filter: blur(2px);
    -o-transform: translateX(-50rem);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    -o-transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-50rem);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
/*  */

.fade-in-left {
  -webkit-animation: fadeInLeft 1.2s both;
  -moz-animation: fadeInLeft 1.2s both;
  -o-animation: fadeInLeft 1.2s both;
  animation: fadeInLeft 1.2s both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    filter: blur(2px);
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    -webkit-transform: translateX(-100rem);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    filter: blur(2px);
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    -moz-transform: translateX(-50rem);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    filter: blur(2px);
    -o-transform: translateX(0);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    -o-transform: translateX(-50rem);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(50rem);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

/*  */
.project-card {
  background-color: dodgerblue;
  min-width: fit-content;
  min-height: fit-content;
  border-radius: 1em;
  padding: 1em;
  display: inline-flex;
  gap: 5rem;
  justify-content: space-between;
}

.project-card-left {
  display: inline-flex;
  flex-direction: row-reverse;
}

.project-image {
  width: 40rem;
  height: 30rem;
}

.project-info {
  background-color: #a9a9a9;
  width: 30rem;
}
/* ---------------------------------------------- */
/* About me */
/* ---------------------------------------------- */

#about-me {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100%; */
  /* background-color: olive; */
}
#about-me h2 {
  /* background-color: darkkhaki; */
  margin-top: 10rem;
}

#about-me h4 {
  /* background-color: darkred; */
  color: coral;
  margin-top: -1.5rem;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 5rem;
}

/* containes skills and education */
.container {
  /* background-color: yellow; */
  /* box-shadow: var(--box-shadow); */
  box-shadow: 0px 0px 9px -2px rgba(133, 121, 121, 0.93);
  -webkit-box-shadow: 0px 0px 9px -2px rgba(133, 121, 121, 0.93);
  -moz-box-shadow: 0px 0px 9px -2px rgba(133, 121, 121, 0.93);
  height: auto;
  width: fit-content;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  gap: 3rem;
  /* column-gap: 3rem; */
  /* width: auto; */
  margin: auto;
}

/* Skills */
#skills-wrapper {
  /* background-color: red; */
  min-width: fit-content;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 3rem;
  grid-column-gap: 5rem;
  justify-content: center;
  /* align-content: initial; */
  justify-items: initial;
  border-radius: 1rem;
  margin: auto;
  padding-top: 0.8rem;
}

.item {
  /* background-color: red; */
  /* background: #181b1c; */
  height: 2rem;
  width: fit-content;
  text-align: center;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1rem;
  /* align-content: flex-start; */
  align-items: center;
  border-radius: 5px;
  /* font-size: 16px; */
  font-size: 1.3rem;
  font-weight: 200;
  padding-left: 0.5rem;
  /* margin: 0.5rem; */
}

.item span {
  /* background-color: black; */
  width: fit-content;
}
.item i {
  font-size: 2rem;
  /* background-color: yellowgreen; */
  width: 3rem;
}

.item-header {
  /* background-color: darkorange; */
  /* color: rgba(246, 255, 80, 0.355); */
  color: rgba(255, 255, 255, 0.751);
  background-color: rgba(10, 28, 223, 0.166);
  grid-column-start: 2;
  grid-column-end: -1;
  margin-left: 13%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-content: center; */
  /* justify-items: center; */
  /* align-items: center; */
  width: 12rem;
  font-size: 1.6rem;
  font-weight: 300;
  border-radius: 0.2rem;

  box-shadow: 0px 0px 16px 0px rgba(236, 240, 14, 0.43);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(236, 240, 14, 0.43);
  -moz-box-shadow: 0px 0px 16px 0px rgba(236, 240, 14, 0.43);
}
/* Education */
#education-wrapper {
  background-color: blue;
  min-width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.7em;
  border-radius: 1em;
  padding-left: 5rem;
  /* padding: 3em; */
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: flex-start;
  margin: auto;
}
.education-header {
  /* background-color: teal; */
  /* color: rgba(246, 255, 80, 0.355); */
  color: rgba(255, 255, 255, 0.751);
  background-color: rgba(10, 28, 223, 0.166);
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 10em;
  font-size: 1.6em;
  font-weight: 300;
  border-radius: 0.2em;

  box-shadow: 0px 0px 16px 0px rgba(236, 240, 14, 0.43);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(236, 240, 14, 0.43);
  -moz-box-shadow: 0px 0px 16px 0px rgba(236, 240, 14, 0.43);
}
.education-header-1 {
  /* margin-top: 1em; */
}
.education-header-2 {
  /* margin-top: 3.2em; */
}
.education-item {
  /* background: #181b1c; */
  /* background-color: yellowgreen; */
  font-size: 1.3rem;
  font-weight: 200;
  /* width: 100%; */
  /* height: 50px; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  column-gap: 2rem;
  padding: 0.5rem;
  /* border-radius: 0.6rem; */
}
.education-item i {
  font-size: 1.8rem;
}
/*  */

a {
  text-decoration: none;
  color: white;
}
/* --------------------------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Footer */
/* Contact me */
/* ---------------------------------------------- */
/* ---------------------------------------------- */

footer {
  /* background-color: slateblue; */
  background-color: rgba(26, 7, 54, 0.122);
  height: 100%;
  width: 100%;
  letter-spacing: 5px;
}

.contact-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color: #fff;
}

form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: #f5f5f5;
  font-size: 16px;
}

form button {
  padding: 15px;
  background: coral;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}
